In [1]:
## module import
import pandas as pd
import numpy as np
import os
import datetime
from pandas import DataFrame
import glob

In [2]:
##china load data

##2017_1~4
os.chdir('D:/data/china/2017/1')

china_result = pd.DataFrame()
for file in glob.glob("*.csv"):
    data = pd.read_csv(file, encoding='CP949')
    china_result = pd.concat([china_result, data])


del data

china_2017 = pd.melt(china_result, id_vars=['date', 'hour','type'], var_name='code')


del china_result

china_test = china_2017


china_test= china_test.groupby(['date', 'hour', 'code','type'])['value'].sum().unstack('type')

china_test2= china_test.reset_index()


del china_2017 ; del china_test

os.chdir('D:/data/china')
set_china = pd.read_csv('set.csv', encoding='UTF-8')

# 사용할 변수인 북경, 탕산, 린이 지역 선정 - 22개의 set

set_china = set_china.iloc[:, [0,1,2]]
set_china.columns = ['code','city','site']
set_test= set_china.set_index('site')
set_test = set_test.loc[['唐山'],:]
set_test= set_test.reset_index()

# join set & china 샘플 모형 62920 * 20

china_pm = pd.merge(set_test,china_test2, on='code', how= 'left')
china_pm['site'].unique()


china_pm['site'] = china_pm['site'].replace('唐山','탕산')
china_pm.head(50)
china_pm.to_csv("pm_ts.csv", encoding="UTF-8",index=False)
# china_pm.columns = ['site','date','so2','co','o3','no2','pm10','pm2.5']

### 2017 5~8
os.chdir('D:/data/china/2017/2')
os.getcwd()

china_result = pd.DataFrame()
for file in glob.glob("*.csv"):
    data = pd.read_csv(file, encoding='CP949')
    china_result = pd.concat([china_result, data])


del data

china_2017 = pd.melt(china_result, id_vars=['date', 'hour','type'], var_name='code')


del china_result

china_test = china_2017


china_test= china_test.groupby(['date', 'hour', 'code','type'])['value'].sum().unstack('type')
china_test.head()

china_test2= china_test.reset_index()


del china_2017 ; del china_test

os.chdir('D:/data/china')
set_china = pd.read_csv('set.csv', encoding='UTF-8')

# 사용할 변수인 북경, 탕산, 린이 지역 선정 - 22개의 set

set_china = set_china.iloc[:, [0,1,2]]
set_china.columns = ['code','city','site']
set_test= set_china.set_index('site')
set_test = set_test.loc[['唐山'],:]
set_test= set_test.reset_index()

# join set & china 샘플 모형 62920 * 20

china_pm = pd.merge(set_test,china_test2, on='code', how= 'left')
china_pm.info()
china_pm['site'].unique()
china_pm.head()


china_pm['site'] = china_pm['site'].replace('唐山','탕산')
china_pm.head(50)
china_pm.to_csv("pm_ts2.csv", encoding="UTF-8",index=False)

# 9~ 12
os.chdir('D:/data/china/2017/3')
os.getcwd()

china_result = pd.DataFrame()
for file in glob.glob("*.csv"):
    data = pd.read_csv(file, encoding='CP949')
    china_result = pd.concat([china_result, data])

del data

china_2017 = pd.melt(china_result, id_vars=['date', 'hour','type'], var_name='code')

del china_result

china_test = china_2017


china_test= china_test.groupby(['date', 'hour', 'code','type'])['value'].sum().unstack('type')

china_test2= china_test.reset_index()

del china_2017 ; del china_test

os.chdir('D:/data/china')
set_china = pd.read_csv('set.csv', encoding='UTF-8')

# 사용할 변수인 북경, 탕산, 린이 지역 선정 - 22개의 set

set_china = set_china.iloc[:, [0,1,2]]
set_china.columns = ['code','city','site']
set_test= set_china.set_index('site')
set_test = set_test.loc[['唐山'],:]
set_test= set_test.reset_index()

# join set & china 샘플 모형 62920 * 20

china_pm = pd.merge(set_test,china_test2, on='code', how= 'left')


china_pm['site'] = china_pm['site'].replace('唐山','탕산')
china_pm.to_csv("pm_ts3.csv", encoding="UTF-8",index=False)


china_pm_1 = pd.read_csv('pm_ts.csv', encoding= 'UTF-8')
china_pm_2 = pd.read_csv('pm_ts2.csv', encoding= 'UTF-8')
china_pm_3 = pd.read_csv('pm_ts3.csv', encoding= 'UTF-8')

china_2017 = pd.concat([china_pm_1,china_pm_2,china_pm_3])
china_2017.to_csv("pm_2017_ts.csv", encoding="UTF-8",index=False)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:58: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17262 entries, 0 to 17261
Data columns (total 20 columns):
site         17262 non-null object
code         17262 non-null object
city         17262 non-null object
date         17262 non-null int64
hour         17262 non-null int64
AQI          17262 non-null float64
CO           17262 non-null float64
CO_24h       17262 non-null float64
NO2          17262 non-null float64
NO2_24h      17262 non-null float64
O3           17262 non-null float64
O3_24h       17262 non-null float64
O3_8h        17262 non-null float64
O3_8h_24h    17262 non-null float64
PM10         17262 non-null float64
PM10_24h     17262 non-null float64
PM2.5        17262 non-null float64
PM2.5_24h    17262 non-null float64
SO2          17262 non-null float64
SO2_24h      17262 non-null float64
dtypes: float64(15), int64(2), object(3)
memory usage: 2.8+ MB

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:109: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [3]:
##2018_1~4
os.chdir('D:/data/china/2018/1')

china_result = pd.DataFrame()
for file in glob.glob("*.csv"):
    data = pd.read_csv(file, encoding='CP949')
    china_result = pd.concat([china_result, data])

del data

china_2018 = pd.melt(china_result, id_vars=['date', 'hour','type'], var_name='code')

del china_result


china_2018= china_2018.groupby(['date', 'hour', 'code','type'])['value'].sum().unstack('type')

china_test2= china_2018.reset_index()
del china_2018

os.chdir('D:/data/china')
set_china = pd.read_csv('set.csv', encoding='UTF-8')

# 사용할 변수인 북경, 탕산, 린이 지역 선정 - 22개의 set

set_china = set_china.iloc[:, [0,1,2]]
set_china.columns = ['code','city','site']
set_test= set_china.set_index('site')
set_test = set_test.loc[['唐山'],:]
set_test= set_test.reset_index()

# join set & china 샘플 모형 62920 * 20

china_pm = pd.merge(set_test,china_test2, on='code', how= 'left')

china_pm['site'] = china_pm['site'].replace('唐山','탕산')
china_pm.to_csv("pm_ts.csv", encoding="UTF-8",index=False)
# china_pm.columns = ['site','date','so2','co','o3','no2','pm10','pm2.5']

### 2018 5~8
os.chdir('D:/data/china/2018/2')

china_result = pd.DataFrame()
for file in glob.glob("*.csv"):
    data = pd.read_csv(file, encoding='CP949')
    china_result = pd.concat([china_result, data])

del data

china_2018 = pd.melt(china_result, id_vars=['date', 'hour','type'], var_name='code')

del china_result

china_2018= china_2018.groupby(['date', 'hour', 'code','type'])['value'].sum().unstack('type')


china_test2= china_2018.reset_index()

del china_2018;

os.chdir('D:/data/china')
set_china = pd.read_csv('set.csv', encoding='UTF-8')

# 사용할 변수인 북경, 탕산, 린이 지역 선정 - 22개의 set

set_china = set_china.iloc[:, [0,1,2]]
set_china.columns = ['code','city','site']
set_test= set_china.set_index('site')
set_test = set_test.loc[['唐山'],:]
set_test= set_test.reset_index()

# join set & china 샘플 모형 62920 * 20

china_pm = pd.merge(set_test,china_test2, on='code', how= 'left')

china_pm['site'] = china_pm['site'].replace('唐山','탕산')
china_pm.to_csv("pm_ts2.csv", encoding="UTF-8",index=False)

# date 9~ 12
os.chdir('D:/data/china/2018/3')
os.getcwd()

china_result = pd.DataFrame()
for file in glob.glob("*.csv"):
    data = pd.read_csv(file, encoding='CP949')
    china_result = pd.concat([china_result, data])


# china2018년 9월 ~12월만 특정행들이 추가되고 변형되어있어 다시 formatting
del data
china_result= china_result.drop('<html>',axis=1)


china_2018 = pd.melt(china_result, id_vars=['date', 'hour','type'], var_name='code')

del china_result

# 다른 2017~2018년도에는 date, hour, type의 null값이 존재하지 않았으나
# 해당연도에는 약 48000개의 null값이 발생하여 제거하고 진행
china_2018=china_2018.dropna(subset=['date','hour','type'])


china_2018= china_2018.groupby(['date', 'hour', 'code','type'])['value'].sum().unstack('type')
china_test2= china_2018.reset_index()


del china_2018

os.chdir('D:/data/china')
set_china = pd.read_csv('set.csv', encoding='UTF-8')

# 사용할 변수인 북경, 탕산, 린이 지역 선정 - 22개의 set

set_china = set_china.iloc[:, [0,1,2]]
set_china.columns = ['code','city','site']
set_test= set_china.set_index('site')
set_test = set_test.loc[['唐山'],:]
set_test= set_test.reset_index()

# join set & china 샘플 모형 62920 * 20

china_pm = pd.merge(set_test,china_test2, on='code', how= 'left')

china_pm['site'] = china_pm['site'].replace('唐山','탕산')
china_pm.to_csv("pm_ts3.csv", encoding="UTF-8",index=False)


china_pm_1 = pd.read_csv('pm_ts.csv', encoding= 'UTF-8')
china_pm_2 = pd.read_csv('pm_ts2.csv', encoding= 'UTF-8')
china_pm_3 = pd.read_csv('pm_ts3.csv', encoding= 'UTF-8')

china_2018 = pd.concat([china_pm_1,china_pm_2,china_pm_3])
china_2018.to_csv("pm_2018_ts.csv", encoding="UTF-8",index=False)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:46: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:86: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [4]:
### 2019 1~4
os.chdir('D:/data/china/2019/1')

china_result = pd.DataFrame()
for file in glob.glob("*.csv"):
    data = pd.read_csv(file, encoding='CP949')
    china_result = pd.concat([china_result, data])

del data

china_result.isnull().sum()

china_2019 = pd.melt(china_result, id_vars=['date', 'hour','type'], var_name='code')

del china_result

china_2019= china_2019.groupby(['date', 'hour', 'code','type'])['value'].sum().unstack('type')


china_test2= china_2019.reset_index()

del china_2019;

os.chdir('D:/data/china')
set_china = pd.read_csv('set.csv', encoding='UTF-8')

# 사용할 변수인 북경, 탕산, 린이 지역 선정 - 22개의 set

set_china = set_china.iloc[:, [0,1,2]]
set_china.columns = ['code','city','site']
set_test= set_china.set_index('site')
set_test = set_test.loc[['唐山'],:]
set_test= set_test.reset_index()

# join set & china 샘플 모형 62920 * 20

china_pm = pd.merge(set_test,china_test2, on='code', how= 'left')

china_pm['site'] = china_pm['site'].replace('唐山','탕산')
china_pm.to_csv("pm_ts.csv", encoding="UTF-8",index=False)

# 2019 date 5~6
os.chdir('D:/data/china/2019/2')

china_result = pd.DataFrame()
for file in glob.glob("*.csv"):
    data = pd.read_csv(file, encoding='CP949')
    china_result = pd.concat([china_result, data])

del data


china_2019 = pd.melt(china_result, id_vars=['date', 'hour','type'], var_name='code')

del china_result


china_2019= china_2019.groupby(['date', 'hour', 'code','type'])['value'].sum().unstack('type')
china_test2= china_2019.reset_index()


del china_2019

os.chdir('D:/data/china')
set_china = pd.read_csv('set.csv', encoding='UTF-8')

# 사용할 변수인 북경, 탕산, 린이 지역 선정 - 22개의 set

set_china = set_china.iloc[:, [0,1,2]]
set_china.columns = ['code','city','site']
set_test= set_china.set_index('site')
set_test = set_test.loc[['唐山'],:]
set_test= set_test.reset_index()

# join set & china 샘플 모형 62920 * 20

china_pm = pd.merge(set_test,china_test2, on='code', how= 'left')

china_pm['site'] = china_pm['site'].replace('唐山','탕산')
china_pm.to_csv("pm_ts2.csv", encoding="UTF-8",index=False)


china_pm_1 = pd.read_csv('pm_ts.csv', encoding= 'UTF-8')
china_pm_2 = pd.read_csv('pm_ts2.csv', encoding= 'UTF-8')

china_2019 = pd.concat([china_pm_1,china_pm_2])
china_2019.to_csv("pm_2019_ts.csv", encoding="UTF-8",index=False)

In [5]:
# Data merge 

china_2017= pd.read_csv('pm_2017_ts.csv', encoding="UTF-8")
china_2018= pd.read_csv('pm_2018_ts.csv', encoding="UTF-8")
china_2019= pd.read_csv('pm_2019_ts.csv', encoding="UTF-8")

china_pm = pd.concat([china_2017,china_2018,china_2019])

# 저장시 나오는 column 제거
# china_pm= china_pm.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1)
china_pm.drop(['code','city','AQI'],axis=1,inplace= True)

In [6]:
china_pm[['date','hour']] = china_pm[['date','hour']].astype(str)
china_pm['date'] = china_pm['date'].str[0:-2]
china_pm['hour'] = china_pm['hour'].str[0:-2] + ":00" 
text = ['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00']
change_text = ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00']

for i, j in zip(text, change_text):
    china_pm['hour'] = china_pm['hour'].replace(i, j)
    
china_pm['date'] = china_pm['date']+ " " +china_pm['hour']
china_pm['date'] = pd.to_datetime(china_pm['date'], format='%Y-%m-%d %H:%M')

In [7]:
# groupby data
china_pm.dropna(inplace=True)
china_pm.drop(['hour'],axis=1,inplace=True)
china_pm = china_pm.pivot_table(index=["date","site"], margins=True, aggfunc='mean').reset_index()

In [8]:
china_column =china_pm.columns.tolist()
china_column.remove('date')
china_column.remove('site')
for i in china_column :
    china_pm[i] = china_pm[i].apply(lambda x: round(x))

china_pm.head()

,date,site,CO,CO_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,PM10,PM10_24h,PM2.5,PM2.5_24h,SO2,SO2_24h
0,2017-01-01 00:00:00,탕산,3,3,72,75,3,15,4,10,0,260,0,212,25,35
1,2017-01-01 01:00:00,탕산,3,3,73,75,2,15,2,2,197,260,150,211,29,35
2,2017-01-01 02:00:00,탕산,3,3,74,75,2,15,2,2,170,258,126,210,24,34
3,2017-01-01 03:00:00,탕산,3,3,70,75,2,15,2,2,132,254,103,207,19,33
4,2017-01-01 04:00:00,탕산,3,3,86,93,4,20,4,4,145,322,127,260,19,40

In [9]:
china_pm.to_csv('D:/data/china_site_final.csv',encoding='CP949',index=False)

In [10]:
china_pm.drop(['site'],axis=1,inplace=True)

In [11]:
china_pm.to_csv('D:/data/chinapm_final.csv',encoding='CP949',index=False)

## test set 불러오기

In [12]:
# 2019 date 7~11
os.chdir('D:/data/china/2019/3')
os.getcwd()

china_result = pd.DataFrame()
for file in glob.glob("*.csv"):
    data = pd.read_csv(file, encoding='CP949')
    china_result = pd.concat([china_result, data])

del data


china_2019 = pd.melt(china_result, id_vars=['date', 'hour','type'], var_name='code')

del china_result


china_2019= china_2019.groupby(['date', 'hour', 'code','type'])['value'].sum().unstack('type')
china_test2= china_2019.reset_index()


del china_2019

os.chdir('D:/data/china')
set_china = pd.read_csv('set.csv', encoding='UTF-8')

# 사용할 변수인 북경, 탕산, 린이 지역 선정 - 22개의 set

set_china = set_china.iloc[:, [0,1,2]]
set_china.columns = ['code','city','site']
set_test= set_china.set_index('site')
set_test = set_test.loc[['唐山'],:]
set_test= set_test.reset_index()

# join set & china 샘플 모형 62920 * 20

china_pm = pd.merge(set_test,china_test2, on='code', how= 'left')

china_pm['site'] = china_pm['site'].replace('唐山','탕산')


# 2019 date other
os.chdir('D:/data/china/2019/5')

china_result = pd.DataFrame()
for file in glob.glob("*.csv"):
    data = pd.read_csv(file, encoding='UTF-8')
    china_result = pd.concat([china_result, data])

del data

china_2019 = pd.melt(china_result, id_vars=['date', 'hour','type'], var_name='code')

del china_result

china_2019= china_2019.groupby(['date', 'hour', 'code','type'])['value'].sum().unstack('type')
china_test2= china_2019.reset_index()

del china_2019

os.chdir('D:/data/china')
set_china = pd.read_csv('set.csv', encoding='UTF-8')

# 사용할 변수인 북경, 탕산, 린이 지역 선정 - 22개의 set

set_china = set_china.iloc[:, [0,1,2]]
set_china.columns = ['code','city','site']
set_test= set_china.set_index('site')
set_test = set_test.loc[['唐山'],:]
set_test= set_test.reset_index()

# join set & china 샘플 모형 62920 * 20

china_pm2 = pd.merge(set_test,china_test2, on='code', how= 'left')
china_pm2['site'] = china_pm2['site'].replace('唐山','탕산')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [13]:
china_pm = pd.concat([china_pm,china_pm2])
china_pm.drop(['code','city','AQI'],axis=1,inplace= True)
china_pm[['date','hour']] = china_pm[['date','hour']].astype(str)
china_pm['hour'] = china_pm['hour'] + ":00" 
text = ['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00']
change_text = ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00']

for i, j in zip(text, change_text):
    china_pm['hour'] = china_pm['hour'].replace(i, j)

china_pm['date'] = china_pm['date']+ " " +china_pm['hour']
china_pm['date'] = pd.to_datetime(china_pm['date'], format='%Y-%m-%d %H:%M')

In [14]:
china_pm.dropna(inplace=True)
china_pm.drop(['hour'],axis=1,inplace=True)
china_pm = china_pm.pivot_table(index=["date","site"], margins=True, aggfunc='mean').reset_index()

In [15]:
china_column =china_pm.columns.tolist()
china_column.remove('date')
china_column.remove('site')
for i in china_column :
    china_pm[i] = china_pm[i].apply(lambda x: round(x))

china_test_all = china_pm.copy()
    
china_pm = china_pm[['date','PM10','PM2.5','PM2.5_24h','PM10_24h']]
china_pm.head()

                  date  PM10  PM2.5  PM2.5_24h  PM10_24h
0  2019-07-01 00:00:00    61     26         25        54
1  2019-07-01 01:00:00    70     26         25        55
2  2019-07-01 02:00:00    79     27         26        56
3  2019-07-01 03:00:00    79     30         26        58
4  2019-07-01 04:00:00    76     34         26        59

In [16]:
china_pm.to_csv('D:/data/china_test_final.csv',encoding='CP949',index=False)

# site 포함 아닌거 둘다 Full - set

In [17]:
china_test_all.head()

,date,site,CO,CO_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,PM10,PM10_24h,PM2.5,PM2.5_24h,SO2,SO2_24h
0,2019-07-01 00:00:00,탕산,1,1,47,26,38,152,84,137,61,54,26,25,17,22
1,2019-07-01 01:00:00,탕산,1,1,51,28,31,152,31,31,70,55,26,25,17,21
2,2019-07-01 02:00:00,탕산,1,1,69,29,12,152,21,31,79,56,27,26,17,21
3,2019-07-01 03:00:00,탕산,2,1,66,31,15,152,19,31,79,58,30,26,18,21
4,2019-07-01 04:00:00,탕산,2,1,55,32,20,152,20,32,76,59,34,26,20,21

## Site 포함

In [18]:
china_before = pd.read_csv('D:/data/china_site_final.csv',encoding='CP949')
china_before = china_before[['date','site','PM10','PM2.5','PM2.5_24h','PM10_24h','CO','O3','NO2','SO2']]
china_test_all = china_test_all[['date','site','PM10','PM2.5','PM2.5_24h','PM10_24h','CO','O3','NO2','SO2']]
china_merge = pd.concat([china_before,china_test_all])
china_merge = china_merge[china_merge['date']!='All']
china_merge.to_csv('D:/data/china_site_2020.csv',index=False)

In [19]:
china_merge.to_csv('D:/data/china_site_2020.csv',index=False)

## Site 제거

In [20]:
china_merge.drop('site',axis=1,inplace=True)

In [21]:
china_merge.to_csv('D:/data/china_merge_2020.csv',index=False)